*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* .App-header {
  background-color: #ffffff;
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
} */

.App-link {
  color: #61dafb;
}

.App-main{
  background-image: url(./fog-1535201_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: auto;
}
